.filter-panel {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
 border-radius: 0px !important;
   background: rgba(248, 5, 5, 0.05);
  border: 1px solid #c70b0b4f;
  margin-bottom: 1rem;
}
